.nav-list .nav-list-item>.nav-list {
    display: block;
}
blockquote {
    color: #666;
    padding: 1px 23px;
    margin: 22px 0;
    border-left: 4px solid #cbcbcb;
    background-color: #f8f8f8;
}